/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Background */
body {
  background: linear-gradient(#6503b0, #9e5099);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
.container {
  width: 350px;
}

.logo {
  color: #6a5af9;
  font-weight: 700;
}

.user-info{
  text-align: center;
}

.user-info p {
  text-align: center;
  color: gray;
  font-size: 12px;
  line-height: 1.4;
}

/* Each message */
.message-card {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.message-card:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 6px #1f1f20;
}

/* Avatar */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

/* Message content */
.message-content {
  flex: 1;
  margin-left: 10px;
}

.message-content h4 {
  font-size: 14px;
  font-weight: 600;
}

.message-content p {
  font-size: 12px;
  color: gray;
}

/* Count bubble */
.message-count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #11a3cb;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 17px 12px 10px 12px;
  border-top: 3.8px solid #b8b6b6;
}

footer i {
  font-size: 21px;
  color: #6a5af9;
  cursor: pointer;
  transition: 0.3s;
}

footer i:hover {
  transform: scale(1.2);
}



/* Chat box */
.chat-box {
  background-color: white;
  border-radius: 20px;
  height: 600px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 25px #a4a4a4;
  overflow: hidden;
}

/* Header */
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 4px solid #b8b6b6;
}

.chat-header h3 {
  font-size: 20px;
  font-weight: 600;
}

.chat-header a .home {
  text-decoration: none;
  color: #6a5af9;
  font-size: 21px;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.chat-header a .home:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px #383839;
}

/* Chat messages area */
.messages-area {
  flex: 1;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #f0f0f2;
  overflow-y: auto;
}

.colo {
  background: #d4d5d5;
}

.messages-area h3{
  text-align: center;
}

.messages-area a{
  color: black;
  text-decoration: none;
}

/* Message bubbles */
.message {
  padding: 10px 14px;
  border-radius: 15px;
  font-size: 14px;
  max-width: 70%;
  word-wrap: break-word;
}

.message.sent {
  background-color: #7c6cf6;
  color: white;
  align-self: flex-end;
}

.message.received {
  background-color: #fff5f5;
  color: black;
  align-self: flex-start;
}

/* Input area */
.message-input {
  display: flex;
  align-items: center;
  border-top: 3px solid #b8b6b6;
  padding: 10px 15px;
  background: white;
}

.message-input .forms {
  flex: 1;
  padding: 8px 12px;
  border: 2.4px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: border 0.2s;
  resize: none;
}

.message-input input:focus {
  border-color: #686868;
}

.message-input button {
  background-color: #7c6cf6;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.message-input button:hover {
  background-color: #6a5af9;
}

/* Scrollbar style */
.messages-area::-webkit-scrollbar {
  width: 5px;
}
.messages-area::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}